.container {
}

body {
    border-top: 5px solid #000;
}


h1 a {
    font-family: Palatino, Georgia, serif;
    font-variant: small-caps;
    color: silver;
}

.site-title {
}

.byline {
    font-family: Palatino, Georgia, serif;
    font-variant: small-caps;
    color: black;
    font-size: 10pt;
}

.footer {
    font-family: Palatino, Georgia, serif;
    font-style: italic;
    color: silver;
    font-size: 80%;
    padding-top: 20px;
}

.right {
    float: right;
}

.entry-content {
}

.sidebar-nav-fixed {
    padding-top: 200px;
    position:fixed;
    width: auto;
}

.page-nav-bottom {
    padding-top: 20px;
}
