body {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif; }

a {
	text-decoration: none;
	margin: 0;
	padding: 0; }

h1 {
    margin-bottom: 0px;
    margin-top: 0px; }

h1 a {
    font-family: 'Open Sans', Palatino, Georgia, serif;
    font-variant: small-caps;
    text-decoration: none;
    color: black;
    text-shadow: #aaa 2px 2px 3px;
    margin-bottom: 0px;
    margin-top: 0px; }

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant: small-caps;
    font-size: 24pt;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0; }

h2 a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant: small-caps;
    font-size: 24pt;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0; }

h2 a:hover {
    text-shadow: #aaa 2px 2px 3px; }

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant: small-caps;
    font-size: 16pt;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0; }

h4 a {
    color: black; }

h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10pt;
    color: silver;
    margin: 0;
    padding: 0;
    font-style: italic; }

ul {
    font-family: 'Open Sans', sans-serif; }

li {
    display: block; }

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	background: #f8f8f8;
	border: 1px solid #bcbcbc;
	font-size: 12px;
	font-family:   Menlo, 'DejaVu Mono', 'Bitstream Vera Mono', 'Lucida Console', monospace;
	padding: 10px;
	margin-bottom: 23px;
	border-radius: 5px;
	color: #363636; }

img {
    border:none; }

span.newer {
    float: right; }

.container {
    width: 700px;
    margin: auto;
    height: auto !important;
    min-height: 100%;
    display: block; }

.topbar {
    width: 100%;
    height: 5px;
    background: #000;
    position: fixed;
    margin: 0px;
    padding: 0px; }

.byline {
    font-family: 'Open Sans', Palatino, Georgia, serif;
    font-variant: small-caps;
    font-style: italic;
    color: silver;
    font-size: 14pt;
    margin: 0;
    padding: 0pt; }

.footer {
    font-family: 'Open Sans', Palatino, Georgia, serif;
    font-style: italic;
    color: silver;
    font-size: 80%;
    position: fixed;
    bottom: 0px;
    width: 200px; }

.sidebar {
    padding-top: 200px;
    width: 200px;
    position: fixed;
    text-align: left; }

.content {
    height: 100%;
    width: 450px;
    float: right;
    padding-top: 50px;
    padding-bottom: 100px; }

.post {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: silver;
    margin-bottom: 50px;
    padding-bottom: 10px; }

.nav {
	text-decoration: none; }

.pagination {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    font-style: italic;
    color: silver;
    text-decoration: none; }
    .pagination a {
        color: silver;
        font-family: 'Open Sans', sans-serif; }

.related-posts {
   margin-top: 20px; 
   font-family: 'Open Sans', sans-serif; }

.logo img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }

.archive_item {
    margin-top: 10px; }

@media only screen and (max-width: 480px) {
    .container {width: 300px;}
    .content {width: 300px;}
    .sidebar {position: static; padding-top: 50px;}
    .footer {position: static; margin-left: auto; margin-right: auto;}
}
