---
layout: base
title: Learn All The Things 
---
<div class="sidebar-nav-fixed">
    {% include header.html %}
</div>
<div class="content-window">
    {% for post in paginator.posts %}
        {% unless post.draft %}
            <div class="entry-content">
                <h2>
                    <a href="{{site.url}}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </h2>
                <h5> 
                    <span class="date">{{ post.date | date_to_long_string }}</span>
                </h5>
                {{ post.content }}
            </div> <!-- /.entry-content -->
            {% endunless %}
    {% endfor %}
    <div id="pagination">
        {% if paginator.next_page %}
            <span class="older">
                <a href="{{ site.url }}/page{{ paginator.next_page }}" class="olderlink">&larr; View older posts</a>
            </span>
        {% else %}
            <span class="older">No older posts</span>
        {% endif %}
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <span class="newer">
                    <a href="{{ site.url }}" class="newerlink">View newer posts &rarr;</a>
                </span>
            {% else %}
            <span class="newer"><a href="{{ site.url}}/page{{ paginator.previous_page }}" class="newerlink">View newer posts &rarr;</a></span>
            {% endif %}
        {% else %}
            <span class="newer">No newer posts</span>
        {% endif %}
    </div>
    <div class="logo">
        <img src="{{ site.url }}/img/logo.jpg" alt="Logo"/>
    </div>
</div>
