---
layout: base
title: Learn All The Things 
---
    <div class="row-fluid">
        <div class="span4 offset1">
            {% include header.html %}
        </div>
        <div class="span5 offset1">
        {% for post in site.posts limit:4 %}
            <div class="entry-content">
                <h2 class="clear">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </h2>
                <h5> 
                    <span class="date">{{ post.date | date_to_long_string }}</span>
                </span>
                </h5>
                {{ post.content }}
            </div> <!-- /.entry-content -->
        {% endfor %}
    </div>
        <div class="page-nav-bottom">
            {% if post.previous %}
            <span class="page-nav-item">
                <a rel="prev" href="{{ post.previous.url }}" title="View {{ post.previous.title }}">&larr; View previous article</a>
            </span>
            {% endif %}
            {% if post.next %}
            <span class="page-nav-item">
                    <a rel"next" href="{{ post.next.url }}" title="View {{ post.next.title }}">View next article &rarr;</a>
            </span>
            {% endif %}
        </div> <!-- /.page-nav-bottom -->
        <div class="span1">
        </div>
        <div class="row-fluid">
            {% include footer.html %}
        </div>
    </div>
    </div>
