<div class="page-nav-bottom">
    {% if page.previous.url %}
    <span class="page-nav-item left">
        <a rel="prev" href="{{ site.url }}{{ page.previous.url }}" title="View {{ page.previous.title }}">&larr; View previous article</a>
    </span>
    {% endif %}
    {% if page.next.url %}
    <span class="page-nav-item right">
        <a rel"next" href="{{ site.url }}{{ page.next.url }}" title="View {{ page.next.title }}">View next article &rarr;</a>
    </span>
    {% endif %}
</div> <!-- /.page-nav-bottom -->
