<div class="sidebar-nav">
    <div class="site-title">
        <h1>
            <span>
                <a href="{{ site.url }}">{{ site.title }}</a>
            </span>
        </h1>
        <span class="byline"><em>by {{ site.author.name }}</em></span>
    </div>
    <div class="Navigation">
        <ul class="nav-dots">
            <li><a href="{{ site.url }}"><h4>Home</h4></a></li>
            <li><a href="{{ site.url }}/about.html"><h4>About</h4></a></li>
            <li><a href="{{ site.url }}/archive.html"><h4>Archive</h4></a></li>
        </ul>
        <div class="nav-icons">
        <a href="http://au.linkedin.com/in/simongoudie"><img src="{{ site.url }}/img/rev_glyphicons_397_linked_in.png"/></a>
        <a href="http://github.com/simongoudie"><img src="{{ site.url }}/img/rev_glyphicons_401_github.png"/></a>
        <a href="http://twitter.com/simongoudie"><img src="{{ site.url }}/img/rev_glyphicons_411_twitter.png"/></a>
        <a href="http://simongoudie.com/blog/rss.xml"><img src="{{ site.url }}/img/rev_glyphicons_417_rss.png"/></a>
        <a href="mailto:simon@simongoudie.com"><img src="{{ site.url }}/img/rev_glyphicons_419_e-mail.png"/></a>
        <a href="http://facebook.com/simongoudie"><img src="{{ site.url }}/img/rev_glyphicons_410_facebook.png"/></a>
        </div>
    </div>
</div>
