.container {
}

html {
    height= 100%;
}

body {
    border-top: 5px solid #000;
    height= 100%;
}

.fill {
    min-height: 100%;
}

h1 a {
    font-family: Palatino, Georgia, serif;
    font-variant: small-caps;
    color: black;
    text-shadow: #aaa 2px 2px 3px;
}

.site-title {
}

.byline {
    font-family: Palatino, Georgia, serif;
    font-variant: small-caps;
    color: black;
    font-size: 10pt;
}

.footer {
    font-family: Palatino, Georgia, serif;
    font-style: italic;
    color: silver;
    font-size: 80%;
    padding-top: 20px;
}

.right {
    float: right;
}

.entry-content {
}

.sidebar-nav-fixed {
    padding-top: 200px;
    position: fixed;
    width: 50%;
    text-align: center;
}

@media (max-width: 768px) {
    .sidebar-nav-fixed { 
    position: relative;
    padding-top: 50px;
    }
}

.page-nav-bottom {
    padding-top: 20px;
}
