---
layout: base
---
    <div class="row-fluid">
        <div class="span7 offset1">
            {% include header.html %}
        </div>
        <div class="span5 offset5">
            <div class="entry-content">
                <a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
                <h5><span>{{ page.date | date_to_long_string }}</span></h5>
                {{ content }}
                {% include nextprev.html %}
            </div>
        {% include footer.html %}
        </div>
    </div>
